:root {
  --text-white: #fff;
  --text-gray: #fafafa;
  --brand-green: #74ca52;
  --brand-green-light: #9cd4bc;
  --brand-green-dark: #62b442;
  --brand-purple: #2f3554;
  --background-shading: rgba(0, 0, 0, 0.3);
  --view-padding: 2rem;
  --component-padding: calc(var(--view-padding) / 2);
  --input-padding: calc(var(--view-padding) / 4);
  --radius: 0.5rem;
  --font-large: 1.1rem;
  --transition-duration: 200ms;
  --transition-fn: ease-in;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  color: var(--text-white);
  padding: var(--view-padding);
}

main {
  background-color: var(--brand-purple);
  border-radius: var(--radius);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 35rem;
  max-width: 100%;
  padding: var(--view-padding);
}

form > h1 {
  margin: 0;
}

form > section > label {
  text-transform: uppercase;
  font-size: 0.8rem;
  display: block;
  color: var(--text-gray);
  margin-bottom: 0.5rem;
}

form > section > input {
  box-sizing: border-box;
  width: 100%;
  padding: var(--input-padding);
  background-color: var(--background-shading);
  color: var(--text-gray);
  border: none;
  border-bottom: 3px solid var(--brand-green);
  transition: background-color var(--transition-duration) var(--transition-fn);
  font-size: var(--font-large);
}

form > section > input:focus {
  background-color: transparent;
}

form > button {
  color: var(--text-white);
  background-color: var(--brand-green-dark);
  border-radius: var(--radius);
  padding: var(--component-padding);
  width: 100%;
  font-size: var(--font-large);
  cursor: pointer;
  border-radius: 999px;
  transition: background-color var(--transition-duration) var(--transition-fn);
  font-weight: 600;
  border: 0;
}

form > button:hover {
  background-color: var(--brand-green);
}
